@using BlazorWebGUI.DTO.Enums
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.ProtectedBrowserStorage

@inject ProtectedSessionStorage SessionStorage
@inject Toolbelt.Blazor.I18nText.I18nText I18nText

<MudDialog>
    <DialogContent>
        <div class="d-flex flex-column py-1">
            <MudButton @onclick="() => SetLanguage(LanguageType.English)">English</MudButton>
            <MudButton @onclick="() => SetLanguage(LanguageType.Italian)">Italiano</MudButton>
        </div>
    </DialogContent>
    <DialogActions>
        <MudButton Color="Color.Primary" OnClick="Close">Ok</MudButton>
    </DialogActions>
</MudDialog>

@code {

    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    void Close() => MudDialog.Close(DialogResult.Ok(true));


    async Task SetLanguage(string lang)
    {
        await I18nText.SetCurrentLanguageAsync(lang);
        Close();
    }

}